@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0rem;
  color: var(--color);
  font-family: var(--Mont);
    overflow-x: hidden;
  
}

:root{
  --font-size: 1rem;
  --Mont: 'Montserrat', sans-serif; 
  --color:  rgb(196, 195, 195);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-desc{
  color: var(--color);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loader{
  display: flex; /* Включаем Flexbox */
  height: 100vh; /* Занимает всю высоту экрана */
color: blue;
}

.main{
  display: flex; /* Включаем Flexbox */
  height: 100vh; /* Занимает всю высоту экрана */
  background-color: rgb(44, 48, 80);
}

a{
  text-decoration: none;
  color: inherit;
}


.span-under-title-desc{
  color: var(--color);
}


.sidebar{
  width: 10rem; 
  background-color: rgb(34, 37, 63);
  padding: 1.2em; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Занимает всю ширину страницы */
  z-index: 1000
}

.nav-items{
  display: flex;
  gap: 0.2em;
  color: rgb(196, 195, 195);
  font-family: var(--Mont);
  font-size: var(--font-size);
  transition: color 0.4s ease;
}

.active-item{
  color: rgb(248, 248, 248); 
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.header-profile.active-item {
  color: rgb(248, 248, 248); /* Цвет для активного состояния */
}


.nav-items:hover {
  color: rgb(248, 248, 248); 
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav-items:hover path {
  fill: currentColor; 
  filter: drop-shadow(0 0 2em #61dafbaa);
}





.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto; 
}

span{
  color: rgb(196, 195, 195);
  font-family: var(--Mont);
  font-size: var(--font-size);
}


svg{
  margin-right: 0.3em;
}

.logo{
  padding:  1em 0em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 0rem;
  padding-bottom: 2.1em;
  
}
.hr-logo-cont{
  padding-bottom: 1em;
}

.hr-logo{
  
  width: 7rem;
  
}

.hr-profile{
  margin-top: 1rem;
  width: 7rem;
  
}

.navigate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 3.5rem 0.6rem;
  
}



.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 10rem); /* Ширина контента минус ширина сайдбара */
  margin-left: 10rem; 
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: rgb(39, 43, 73);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #444;
  box-sizing: border-box; 
  margin-bottom: 2em;
  
  
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(196, 195, 195);
  font-family: var(--Mont);
  font-size: var(--font-size);
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-profile:hover  {
  color: rgb(248, 248, 248); 
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.header-profile:hover path {
  fill: currentColor;
  filter: drop-shadow(0 0 2em #61dafbaa);
}


h1{
  margin: 0;
}

.main-home{
display: flex;

}

.content-home{
  width: 100%; /* Занимает всю ширину контейнера */
  display: flex;
  flex-direction: row; /* Располагаем элементы в строку */
  align-items: center; /* Выравниваем по вертикали */
  justify-content: space-between; /* Разделяем пространство между элементами */
  color: var(--color);
  font-family: var(--Mont);
  margin-left: 2em;
  
}

.text-content{
  display: flex;
  flex-direction: column;
  gap: 2em ;
  align-items: flex-start
  
}

.image-cont{
  flex: 1; /* Занимает вторую половину контейнера */
  display: flex;
  justify-content: flex-end; /* Выравниваем изображение по правому краю */
  align-items: center;
}

img{
  padding-top: 0.5em;
}

.card{
  width: 17rem;
  height: 18.5rem;
  background-color: rgb(23, 32, 71);
  display: flex;
  gap: 1em;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.5em;
}

.img-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card{
  display: flex;
  align-items: left;
}

.card-container{
  display: flex;
  width: 100%;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
 
}

.title-content{
  margin-bottom:  2em;
}


.abstract-img-course{
  padding: 0;
  width: 15rem;
}

.activity{
  width: 64rem;
  height: 30rem;
  background-color:  rgb(23, 32, 71);
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistic{
  width: 42rem;
  height: 14rem;
  background-color:  rgb(23, 32, 71);
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-cont{
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;

  flex-direction: column;
}

.user-cont{
  display: flex;
  justify-content: center;
  width: 64rem;
  background-color:  rgb(23, 32, 71);
  margin-left: 15rem;
  border-radius: 2em;
}

.user-img{

}

.user-desc{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 3em;
padding-left: 2em;
}

.content-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.p-details{
  font-size: var(--font-size);
}

.start-course{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

input{
  width: 100%;
  height: 2.5em;
  background-color: #444;
  color: #FFF;
  border: none;
  color: #212529;
  background-clip: padding-box;

  border-radius: 0.5rem;
}

.form-start{
  display: flex;
  gap: 1em ;
  flex-direction: column;
  width: 20rem;
}



@media (max-width: 768px) {
  .main {
    flex-direction: column; /* Сайдбар сверху, контент снизу */
  }

  .sidebar {
    width: 100%; /* Сайдбар занимает всю ширину */
    height: auto; /* Высота автоматическая */
    padding: 10px; /* Уменьшаем отступы */
  }

  .navigate {
    flex-direction: row; /* Элементы навигации в строку */
    justify-content: space-around; /* Равномерное распределение */
    padding: 10px 0; /* Уменьшаем отступы */
  }

  .nav-items {
    font-size: 0.9rem; /* Уменьшаем размер шрифта */
    padding: 5px 0; /* Уменьшаем отступы */
  }

  .content {
    padding: 10px; /* Уменьшаем отступы */
  }

  hr{
    display: none;
  }

  .header {
    padding: 0.5rem; /* Уменьшаем отступы */
}

.logo {
    font-size: 0.9rem; /* Уменьшаем размер шрифта */
}

.header-profile {
    font-size: 0.9rem; /* Уменьшаем размер шрифта */
}


}