.custom-input::placeholder {
    color: #1890ff; 
    opacity: 1; 
  }

.custom-input {
    color: black; 
  }
  
  .custom-input:focus {
    border-color: #1890ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }  