@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0rem;
}

:root{
  --font-size: 1rem;
  --Mont: 'Montserrat', sans-serif; 
  --color: color: rgb(196, 195, 195);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main{
  display: flex; /* Включаем Flexbox */
  height: 100vh; /* Занимает всю высоту экрана */
  background-color: rgb(44, 48, 80);
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: rgb(245, 245, 245);
}


header{
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar{
  width: 10rem; 
  background-color: rgb(34, 37, 63);
  padding: 1.2em; 
  height: 100vh;
}

.nav-items{
  display: flex;
  gap: 0.2em;
  color: rgb(196, 195, 195);
  font-family: var(--Mont);
  font-size: var(--font-size);
}



.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow-y: auto;
  margin: 0 auto; 
}

span{
  color: rgb(196, 195, 195);
  font-family: var(--Mont);
  font-size: var(--font-size);
}

svg{
  margin-right: 0.3em;
}

.logo{
  padding:  1.2em 0em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 2rem;
}

.hr-logo{
  width: 7rem;
  
}

.hr-profile{
  margin-top: 1rem;
  width: 7rem;
  
}

.navigate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;
  padding: 1.5rem 0.6rem;
  
}



@media (max-width: 768px) {
  .main {
    flex-direction: column; /* Сайдбар сверху, контент снизу */
  }

  .sidebar {
    width: 100%; /* Сайдбар занимает всю ширину */
    height: auto; /* Высота автоматическая */
    padding: 10px; /* Уменьшаем отступы */
  }

  .navigate {
    flex-direction: row; /* Элементы навигации в строку */
    justify-content: space-around; /* Равномерное распределение */
    padding: 10px 0; /* Уменьшаем отступы */
  }

  .nav-items {
    font-size: 0.9rem; /* Уменьшаем размер шрифта */
    padding: 5px 0; /* Уменьшаем отступы */
  }

  .content {
    padding: 10px; /* Уменьшаем отступы */
  }

  hr{
    display: none;
  }
}